.vs
HRM_API.API/bin
HRM_API.API/obj
HRM_API.Application/bin
HRM_API.Application/obj
HRM_API.Configuration/bin
HRM_API.Configuration/obj
HRM_API.Core/bin
HRM_API.Core/obj
HRM_API.Infraestructure/bin
HRM_API.Infraestructure/obj